doctype html
mixin staticJS(filename)
    script(type="text/javascript", src=assetFingerprint(filename))

mixin staticCSS(filename)
    link(type="text/css", rel="stylesheet", href=assetFingerprint(filename))

html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

        //- +staticCSS("/components/bootstrap/dist/css/bootstrap.min.css")
        //- +staticCSS("/components/bootstrap/dist/css/bootstrap-theme.min.css")
        +staticCSS("/stylesheets/bootstrap/bootstrap.paper.min.css")
        +staticCSS("/components/fullcalendar/dist/fullcalendar.min.css")

        //+staticCSS("/stylesheets/bootstrap/bootstrap-multiselect.css")

        //- +staticCSS("/stylesheets/fonts/font-awesome.min.css")
        link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

        +staticCSS("/stylesheets/armadillo/cms.css")


        +staticJS("/components/jquery/dist/jquery.min.js")
        +staticJS("/components/bootstrap/dist/js/bootstrap.min.js")
        +staticJS("/dist/vendor.js")

        +staticJS("/components/d3/d3.min.js")
        +staticJS("/components/d3.layout.cloud/d3.layout.cloud.js")

        +staticJS("/components/moment/min/moment.min.js")
        +staticJS("/components/fullcalendar/dist/fullcalendar.min.js")
        +staticJS("/components/fullcalendar/dist/lang/fr.js")

        +staticJS("/javascripts/lib/ace/ace.js")
        +staticJS("/javascripts/lib/ace/mode-json.js")
        +staticJS("/javascripts/lib/ace/mode-yaml.js")
        +staticJS("/javascripts/lib/ace/mode-wml.js")
        +staticJS("/javascripts/lib/ace/ext-language_tools.js")
        +staticJS("/components/yamljs/bin/yaml.js")

        +staticJS("/javascripts/armadillo/wml.js")
        +staticJS("/javascripts/armadillo/components.js")
        script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing,places")
        //script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.15.0/vis.js")
        //For "Vis" component 
        +staticJS("/dist/widgets.js")
        +staticJS("/dist/cms.js")
        //script(type="module", src="/dist/cms.js")
        //script(type="module", src="/dist/widgets.js")

        title #{sitename} - #{title}
    body
        block content
